table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
td, th {
    width: 25%;
  }
  
.add-button {
  width: 150px; 
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}
.button-text {
  margin-right: 5px;
  margin-bottom: 100px; 
}

.button-icon {
  font-size: 20px;
}